In [1]:
import numpy as np 
import pandas as pd
import copy
#np --> numerical panda, es una llibreria per a realitzar càlcul numèric
#les notes de dawbio amb series
student_list=["John","Mary","Lucy","Peter"]
grades_list = [7,9,8,4]
wants_dual_list = [False,True,False,True]
datos: dict[list] = {"grade": grades_list,
                   "dual": wants_dual_list}
students_frame = pd.DataFrame(
    index=student_list,
    data = datos
)
students_frame

       grade   dual
John       7  False
Mary       9   True
Lucy       8  False
Peter      4   True

In [2]:
students_grades: pd.DataFrame = copy.deepcopy(students_frame)
#al index li fiquem un nom
students_grades.index.name = "name"
students_grades

       grade   dual
name
John       7  False
Mary       9   True
Lucy       8  False
Peter      4   True

In [3]:
#inplace matxaca el mateix dataFrame
#reset_index passa el index com columna
students_grades.reset_index(inplace=True)
students_grades

    name  grade   dual
0   John      7  False
1   Mary      9   True
2   Lucy      8  False
3  Peter      4   True